<template>
  <v-app
	id="inspire"
	:class="[{ 
		'box-layout': boxLayout, 
		'collapse-sidebar': sidebarState, 
		'rtl-layout': rtlLayout
	}]"
  > 
      <router-view :auth="auth" :authenticated="authenticated"></router-view>
      <notifications 
        group="loggedIn" 
        position="top right"
        animation-type="velocity"
      />
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";

import AuthService from "./auth/AuthService";

const auth = new AuthService();
// const { login, logout, authenticated, authNotifier } = auth;

const { authenticated, authNotifier } = auth;

export default {
  data() {
    authNotifier.on("authChange", authState => {
      this.authenticated = authState.authenticated;
    });
    return {
      auth,
      authenticated,
      animation: {
        enter: {
          opacity: [1, 0],
          translateX: [0, -300],
          scale: [1, 0.2]
        },
        leave: {
          opacity: 0,
          height: 0
        }
     }
    };
  },
  mounted() {
    // This if block is for IE 11
    if (!Object.entries)
      Object.entries = function( obj ){
        var ownProps = Object.keys( obj ),
            i = ownProps.length,
            resArray = new Array(i); // preallocate the Array
        while (i--)
          resArray[i] = [ownProps[i], obj[ownProps[i]]];

        return resArray;
      };
    if (
      this.selectedLocale.locale === "he" ||
      this.selectedLocale.locale === "ar"
    ) {
      this.$store.dispatch("rtlLayout");
    }
  },
  computed: {
    ...mapGetters([
      "collapseSidebar",
      "boxLayout",
      "rtlLayout",
      "selectedLocale"
    ]),
    // isDark(){ return (this.$vuetify.theme.dark) ? 'dark' : 'light' }
    sidebarState: {
      get: function() {
        return this.collapseSidebar;
      },
      set: function() {
        return this.collapseSidebar;
      }
    }
  },
};
</script>

<style>
/** ************************ Add Global CSS Here ****************** **/
.font-kanit {
	font-family: 'Kanit';
}
.bg-red {
	background-color: #FF0000;
}
.bg-green {
	background-color: #00FF00;
}
.bg-blue {
	background-color: #0000FF;
}
.login-bg {
  background-color: #fde92a;
}
/** ************************ Login Page ****************** **/
.login-area {
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
}
.login-panel {
  margin-top: 0px;
  padding: 40px;
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
</style>
