<template>
  <div class="session-wrapper login-bg">
    <div class="text-center login-area">
      <img
        :src="appLogo"
        class="img-responsive mb-4"
        width="300"
        height="136"
      />
      <div class="app-card login-panel">
        <h2 class="mb-4">UTM Generator</h2>
        <p class="fs-14 font-kanit" style="margin-bottom:30px;" >
          {{ $t("message.enterUsernameAndPasswordToAccessControlPanelOf") }}
        </p>
        <v-form v-model="valid" class="mb-5">
          <v-text-field
            label="E-mail"
            v-model="email"
            :rules="emailRules"
            required
          ></v-text-field>
          <v-text-field
            label="Password"
            v-model="password"
            type="password"
            :rules="passwordRules"
            required
          ></v-text-field>
          <v-checkbox
            color="primary"
            label="จำฉันเอาไว้"
            v-model="checkbox"
          ></v-checkbox>
          <router-link class="mb-2 font-kanit" to="/session/forgot-password"
            >{{ $t("message.forgotPassword") }}?</router-link
          >
          <div>
            <v-btn large @click="submit" block color="primary" class="mb-2 font-kanit">{{
              $t("message.loginNow")
            }}</v-btn>
          </div>
        </v-form>
      </div>
    </div>
  </div>
</template>

<script>
// import firebase from "firebase/app";
// import { mapGetters } from "vuex";
import AppConfig from "Constants/AppConfig";
import AuthService from "../../auth/AuthService";

const auth = new AuthService();
// const { login, logout, authenticated, authNotifier } = auth;

const { login } = auth;

export default {
  data() {
    return {
      checkbox: false,
      valid: false,
      email: "demo@example.com",
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid",
      ],
      password: "test#123",
      passwordRules: [(v) => !!v || "Password is required"],
      appLogo: AppConfig.appLogo2,
      brand: AppConfig.brand,
    };
  },
  methods: {
    submit() {
      const user = {
        email: this.email,
        password: this.password,
      };

      this.$store.dispatch("signinUserInFirebase", {
        user,
      });
    },
    signinWithAuth0() {
      login();
    },
  },
};
</script>
